*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    /* border: 1px 1px solid black; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.292);
    display: flex;
    box-shadow:  10px 10px 20px 10px rgba(128, 128, 128, 0.167);
}
#nav1
{
    /* border: 1px solid greenyellow; */
    width: 75%;
    display: grid;
    grid-template-columns:20% 10% 10% 10% 10% 10% ;
}
#nav2
{
    /* border: 1px solid rgb(255, 0, 0); */
    text-align: end;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto 50px auto 0px ;
    width: 20%;
}
#nav2>i{
    font-size:30px;
    margin: auto 10px;
}
#userImg
{
    margin: 0px 0px;
    /* border: 1px solid black; */
}

#nav1>a:link{
    /* border: 1px solid black; */
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    transition: 0.1s ease;

}
#nav1>a:hover{
    transition: 0.1s ease;
    color: #0080FF;
    font-size: 19px;
}
#btn1
{
    border: 2px solid black;
    background-color: white;
    padding: 10px 35px ;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;

}
.bodypart1
{
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    height: 90%;
    /* border: 1px solid black; */
}
#bd1
{
    width: 70%;
    /* border: 1px solid black; */
}
#bd2
{
    margin: auto;
    text-align: center;
}
#bd11>h1
{
    /* border:1px solid black; */
    width: 83%;
    font-size: 65px;
    margin: 15% auto 3px 80px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    word-spacing: 10px;
}
#bd11>h1>span
{
    font-weight: 900;
    
}
#bd11>h1>em{
    font-weight: 600;
    font-style: normal;
    color: #0080FF;
    /* text-shadow:2px 1px 6px rgb(72, 179, 255); */
}
#bd11>p
{
    /* border: 1px solid black; */
    margin: 50px 0px 0px 80px;
    font-size: 25px ;
    font-weight: 100;
    color:#004890;
    font-family: 'Raleway', sans-serif;

}
#bd12
{
    /* border: 1px solid black; */
    margin: 80px 0px 0px 80px;
}
#btn2
{
    border: none;
    background-color: #0080FF;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
    transition: 0.2s ease;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;

}
#btn2:hover{
    transition: 0.2s ease;
    padding: 20px 70px;
    box-shadow: 1px 1px 10px 1px #0068cf62;
    cursor: pointer;
}
#btn3
{
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

}
#btn3:hover{
    box-shadow: 1px 1px 10px 5px rgba(128, 128, 128, 0.136);
    padding: 20px 50px;
    transition: 0.2s ease;
    cursor: pointer;
}
#bd2>img
{
    box-shadow: 10px 10px 50px 10px #003265a0;
    border-radius: 2px;
}
#bd2content
{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
}
#box
{
    border: 3px solid #0080FF;
    border-radius: 10px;
    /* width: 70%; */
    margin: 40px 20px ;
    padding:20px 40px;
    box-shadow: 1px 1px 40px 10px #828282a6;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s ease;

}
#box:hover
{
    margin: 35px 15px ;
    transition: 0.3s ease;

}
#bd2content
{
    /* border: 1px solid black; */
    margin: 0px 150px;
}
#bd2heading
{
    text-align: center;
    margin: 80px auto 50px auto;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color:#0080ff;
}
#Boxhead
{
    display: flex;
}
#Boxhead>h2{
    margin: auto 30px;
    text-transform: capitalize;
    font-size: 35px;
}
#Boxdata
{
    margin: 15px;
    font-size: 15px;
    /* border: 1px solid black; */
    width:450px;
}